<div class="container">
  <div class="ecopost-container">
    <%= link_to "Add an ecopost", new_post_path, class: "btn btn-primary btn-lg" %>
  </div>
  <br>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-3">
        <% if post.photo? %>
          <% background_url = cl_image_path post.photo.key, width: 400, height: 500, crop: :fill %>
        <% else %>
          <% background_url = "https://source.unsplash.com/500x400/?avatar" %>
        <% end %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
          <div class="card-description">
            <h2><%= post.title %></h2>
          </div>
          <%= link_to "", post_path(post), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
