<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="post-show">
            <div class="post-show-picture">
                <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <div class="post-show-infos">
                <h2><%= @post.author %></h2>
                <p><%= @post.content %></p>
                <p></p><%= @post.rating %></p>
            </div>
        </div>
    </div>
</div>
