.row {
    display: flex;
    flex-direction: column;
}
.post {
    /* z-index:-1; */
    height: 100px;
    width: 100vw;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
}
.post-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.post-description h2 {
    font-size: 24px;
}
.post-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: black;
    opacity: 0;
}
.post-link:hover {
    opacity: 0.1;
}
.post-show {
    overflow: hidden;
    height: 200px;
    width: 100vw;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
} 
.post-show-picture {
    height: 100%;
    width: 120px;
    object-fit: cover;
}
.post-show h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.post-show p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    width: 100vw;
}
.post-show .post-show-infos {
    padding: 16px;
}
.post-show-infos {
    margin-left: 300px;
}
